Repository sridharmallela/ngs-workspace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm test

.lintstagedrc.json:

{
  "!(*ignore)": ["prettier --write"],
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "packages/**/*.{js,jsx,ts,tsx}": ["npm test"]
}

feat(print-cli): added initial scaffold code
  packages/print-cli/.eslintrc.json
  packages/print-cli/README.md
  packages/print-cli/jest.config.ts
  packages/print-cli/package.json
  packages/print-cli/project.json
  packages/print-cli/src/index.ts
  packages/print-cli/src/lib/print-cli.spec.ts
  packages/print-cli/src/lib/print-cli.ts
  packages/print-cli/tsconfig.json
  packages/print-cli/tsconfig.lib.json
  packages/print-cli/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

feat(print-cli): updated dependency paths to match root
  packages/print-cli/package.json
  packages/print-cli/src/index.ts
  packages/print-cli/src/lib/print-cli.spec.ts
  packages/print-cli/tsconfig.lib.json
Due: prettier --write, eslint --fix, npm test

feat(programmer): added initial scaffold project
  packages/.gitkeep
  packages/programmer/.eslintrc.json
  packages/programmer/README.md
  packages/programmer/jest.config.ts
  packages/programmer/package.json
  packages/programmer/project.json
  packages/programmer/src/index.ts
  packages/programmer/src/lib/programmer.spec.ts
  packages/programmer/src/lib/programmer.ts
  packages/programmer/tsconfig.json
  packages/programmer/tsconfig.lib.json
  packages/programmer/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

chore(repo): added jest starter configs
  packages/print-cli/tsconfig.spec.json
  packages/programmer/tsconfig.spec.json
Due: none

feat(versions-checker): added initial scaffold code
  package-lock.json
  packages/versions-checker/.eslintrc.json
  packages/versions-checker/README.md
  packages/versions-checker/jest.config.ts
  packages/versions-checker/package.json
  packages/versions-checker/project.json
  packages/versions-checker/src/index.ts
  packages/versions-checker/src/lib/versions-checker.spec.ts
  packages/versions-checker/src/lib/versions-checker.ts
  packages/versions-checker/tsconfig.json
  packages/versions-checker/tsconfig.lib.json
  packages/versions-checker/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

feat(commitlint): added initial scaffold for commitlint config
  .prettierignore
  packages/configs/.gitkeep
  packages/configs/commitlint/.eslintrc.json
  packages/configs/commitlint/README.md
  packages/configs/commitlint/jest.config.ts
  packages/configs/commitlint/package.json
  packages/configs/commitlint/project.json
  packages/configs/commitlint/src/index.ts
  packages/configs/commitlint/src/lib/commitlint.spec.ts
  packages/configs/commitlint/src/lib/commitlint.ts
  packages/configs/commitlint/tsconfig.json
  packages/configs/commitlint/tsconfig.lib.json
  packages/configs/commitlint/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

feat(prettier): added prettier configs initial scaffold
  packages/configs/.gitkeep
  packages/configs/prettier/.eslintrc.json
  packages/configs/prettier/README.md
  packages/configs/prettier/jest.config.ts
  packages/configs/prettier/package.json
  packages/configs/prettier/project.json
  packages/configs/prettier/src/index.ts
  packages/configs/prettier/src/lib/prettier.spec.ts
  packages/configs/prettier/src/lib/prettier.ts
  packages/configs/prettier/tsconfig.json
  packages/configs/prettier/tsconfig.lib.json
  packages/configs/prettier/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

feat(eslint): added initial scaffold for eslint
  packages/configs/eslint/.eslintrc.json
  packages/configs/eslint/README.md
  packages/configs/eslint/jest.config.ts
  packages/configs/eslint/package.json
  packages/configs/eslint/project.json
  packages/configs/eslint/src/index.ts
  packages/configs/eslint/src/lib/eslint.spec.ts
  packages/configs/eslint/src/lib/eslint.ts
  packages/configs/eslint/tsconfig.json
  packages/configs/eslint/tsconfig.lib.json
  packages/configs/eslint/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

feat(jest-preset): added initial scaffold for jest preset
  packages/jest-preset/.eslintrc.json
  packages/jest-preset/README.md
  packages/jest-preset/jest.config.ts
  packages/jest-preset/package.json
  packages/jest-preset/project.json
  packages/jest-preset/src/index.ts
  packages/jest-preset/src/lib/jest-preset.spec.ts
  packages/jest-preset/src/lib/jest-preset.ts
  packages/jest-preset/tsconfig.json
  packages/jest-preset/tsconfig.lib.json
  packages/jest-preset/tsconfig.spec.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

chore(repo): updated to use commitlint prompt instead
  README.md
  package-lock.json
  package.json
Due: none

chore(repo): added rimraf dependency, updated nx json
  nx.json
  package-lock.json
  package.json
Due: none

chore(repo): updated nx json to remove executors
  nx.json
Due: none

feat(programmer): migrated code from programmer repo
  packages/programmer/README.md
  packages/programmer/mocks/test-script
  packages/programmer/package.json
  packages/programmer/src/index.js
  packages/programmer/src/lib/programmer.js
  packages/programmer/src/lib/programmer.spec.js
  packages/programmer/src/lib/programmer.spec.ts
  packages/programmer/src/lib/programmer.ts
  packages/programmer/tsconfig.lib.json
  packages/programmer/tsconfig.spec.json
Due: prettier --write, eslint --fix, npm test

chore(repo): updated libs to use out-tsc
  .prettierignore
  packages/configs/commitlint/tsconfig.lib.json
  packages/configs/eslint/tsconfig.lib.json
  packages/configs/prettier/tsconfig.lib.json
  packages/jest-preset/tsconfig.lib.json
  packages/print-cli/tsconfig.lib.json
  packages/versions-checker/tsconfig.lib.json
Due: none

chore(repo): updated depesndecies to include nx node
  nx.json
  package-lock.json
  package.json
Due: none

chore(repo): added more dependencies for colors figlet and semver
  package-lock.json
  package.json
Due: none

chore(repo): updated tsconfig to have its own dist, out-tsc
  .vscode/settings.json
  package.json
  packages/configs/commitlint/tsconfig.lib.json
  packages/configs/commitlint/tsconfig.spec.json
  packages/configs/eslint/tsconfig.lib.json
  packages/configs/eslint/tsconfig.spec.json
  packages/configs/prettier/tsconfig.lib.json
  packages/configs/prettier/tsconfig.spec.json
  packages/jest-preset/tsconfig.lib.json
  packages/jest-preset/tsconfig.spec.json
  packages/print-cli/tsconfig.lib.json
  packages/print-cli/tsconfig.spec.json
  packages/programmer/package.json
  packages/programmer/tsconfig.lib.json
  packages/programmer/tsconfig.spec.json
  packages/versions-checker/tsconfig.lib.json
  packages/versions-checker/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore(repo): updated prettier config for default
  .github/.gitkeep
  .prettierrc
  .vscode/settings.json
  jest.preset.cjs
  packages/print-cli/README.md
  packages/programmer/README.md
Due: none

feat(commitlint): added initial commitlint config for our repos
  packages/configs/commitlint/package.json
  packages/configs/commitlint/src/index.ts
  packages/configs/commitlint/src/lib/commitlint.spec.ts
  packages/configs/commitlint/src/lib/commitlint.ts
Due: prettier --write, eslint --fix, npm test

chore(repo): updated commitlint to use local config
  .commitlintrc.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(repo): added prettier config to adopt to code snippets
  .prettierrc
Due: none

feat(prettier): added prettier configs initial
  packages/configs/prettier/.eslintrc.json
  packages/configs/prettier/package.json
  packages/configs/prettier/src/index.ts
  packages/configs/prettier/src/lib/prettier.spec.ts
  packages/configs/prettier/src/lib/prettier.ts
Due: prettier --write, eslint --fix, npm test

chore(repo): added prettier config local instance into repo
  .prettierrc
  package-lock.json
  package.json
  packages/configs/commitlint/package.json
Due: none

feat(jest-preset): added presets for jest configuration
  .commitlintrc.ts
  .prettierrc
  jest.preset.cjs
  package-lock.json
  package.json
  packages/configs/commitlint/package.json
  packages/configs/prettier/package.json
  packages/configs/prettier/src/lib/prettier.spec.ts
  packages/jest-preset/package.json
  packages/jest-preset/src/index.ts
  packages/jest-preset/src/lib/jest-preset.spec.ts
  packages/jest-preset/src/lib/jest-preset.ts
Due: prettier --write, eslint --fix, npm test

Config changes (#1)
  .commitlintrc.ts
  .prettierrc
  jest.preset.cjs
  package-lock.json
  package.json
  packages/configs/commitlint/package.json
  packages/configs/commitlint/src/index.ts
  packages/configs/commitlint/src/lib/commitlint.spec.ts
  packages/configs/commitlint/src/lib/commitlint.ts
  packages/configs/prettier/.eslintrc.json
  packages/configs/prettier/package.json
  packages/configs/prettier/src/index.ts
  packages/configs/prettier/src/lib/prettier.spec.ts
  packages/configs/prettier/src/lib/prettier.ts
  packages/jest-preset/package.json
  packages/jest-preset/src/index.ts
  packages/jest-preset/src/lib/jest-preset.spec.ts
  packages/jest-preset/src/lib/jest-preset.ts
Due: prettier --write, eslint --fix, npm test

chore(repo): removed eslint project, updated jest preset config files
  package-lock.json
  packages/configs/eslint/.eslintrc.json
  packages/configs/eslint/README.md
  packages/configs/eslint/jest.config.ts
  packages/configs/eslint/package.json
  packages/configs/eslint/project.json
  packages/configs/eslint/src/index.ts
  packages/configs/eslint/src/lib/eslint.spec.ts
  packages/configs/eslint/src/lib/eslint.ts
  packages/configs/eslint/tsconfig.json
  packages/configs/eslint/tsconfig.lib.json
  packages/configs/eslint/tsconfig.spec.json
  packages/jest-preset/src/lib/jest-preset.spec.ts
  packages/jest-preset/src/lib/jest-preset.ts
  packages/versions-checker/package.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

chore(repo): added workflow for push on main
  .github/workflows/ci.yml
Due: none

chore(repo): workflow updated to run tests
  .github/workflows/ci.yml
  jest.preset.cjs
  package-lock.json
  package.json
Due: none

chore(repo): workflow updated to run tests
  package.json
  packages/programmer/src/lib/programmer.spec.js
Due: prettier --write, eslint --fix, npm test

test(programmer): updated tests to work as expected
  packages/programmer/src/lib/programmer.spec.js
Due: prettier --write, eslint --fix, npm test

chore(repo): workflow updated to run on multiple node versions
  .github/workflows/ci.yml
Due: none

chore(repo): updated eslintignore to dist
  .eslintignore
  .prettierignore
  packages/configs/commitlint/.eslintrc.json
  packages/configs/prettier/.eslintrc.json
  packages/jest-preset/.eslintrc.json
  packages/print-cli/.eslintrc.json
  packages/programmer/.eslintrc.json
  packages/versions-checker/.eslintrc.json
Due: none

chore(repo): added eslint plugins for airbnb base, jest and coding rules
  .eslintrc.json
  package-lock.json
  package.json
  packages/programmer/src/lib/programmer.js
  packages/programmer/src/lib/programmer.spec.js
Due: prettier --write, eslint --fix, npm test

chore(repo): added workflow for push on main
  .github/workflows/ci.yml
  .github/workflows/releases.yml
Due: none

chore(repo): updated ci to match prettier formatter
  .github/workflows/ci.yml
  .prettierignore
Due: none

chore(repo): updated configs for commitlint and prettier. updated dependencies for local dependencies
  .github/workflows/ci.yml
  .github/workflows/releases.yml
  package-lock.json
  package.json
  packages/commitlint-config/.eslintrc.json
  packages/commitlint-config/README.md
  packages/commitlint-config/jest.config.ts
  packages/commitlint-config/package.json
  packages/commitlint-config/project.json
  packages/commitlint-config/src/index.ts
  packages/commitlint-config/src/lib/commitlint.spec.ts
  packages/commitlint-config/src/lib/commitlint.ts
  packages/commitlint-config/tsconfig.json
  packages/commitlint-config/tsconfig.lib.json
  packages/commitlint-config/tsconfig.spec.json
  packages/configs/commitlint/README.md
  packages/configs/commitlint/project.json
  packages/configs/prettier/README.md
  packages/configs/prettier/project.json
  packages/prettier-config/.eslintrc.json
  packages/prettier-config/README.md
  packages/prettier-config/jest.config.ts
  packages/prettier-config/package.json
  packages/prettier-config/project.json
  packages/prettier-config/src/index.ts
  packages/prettier-config/src/lib/prettier.spec.ts
  packages/prettier-config/src/lib/prettier.ts
  packages/prettier-config/tsconfig.json
  packages/prettier-config/tsconfig.lib.json
  packages/prettier-config/tsconfig.spec.json
  packages/programmer/package.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm test

chore(repo): added workflow for push on main
  .github/workflows/releases.yml
Due: none

chore(repo): added workflow for push on main
  package.json
Due: none
